// AltitudeAlpha
@Kopernicus:HAS[@Body:HAS[@Template[Moho]:HAS[~removeAllPQSMods[True]],@PQS:HAS[@Mods:HAS[@AltitudeAlpha:HAS[~SigmaDimensions[1]]]]]]:FOR[SigDim]
{
	@Body:HAS[@Template[Moho],@PQS:HAS[@Mods:HAS[@AltitudeAlpha:HAS[~SigmaDimensions[1]]]]]
	{
		@PQS:HAS[@Mods:HAS[@AltitudeAlpha:HAS[~SigmaDimensions[1]]]]
		{
			// process first node
			@Mods
			{
				@AltitudeAlpha
				{
					%SigmaDimensions = 1
				}
			}
			// Set the name
			@Mods:HAS[!AltitudeAlpha:HAS[#SigmaDimensions[1],#name[_Material_ModProjection]]]
			{
				@AltitudeAlpha
				{
					&name = _Material_ModProjection
				}
			}
			// move processed node to the end
			@Mods
			{
				#AltitudeAlpha {}
				!AltitudeAlpha {}
			}
			// repeat untill all nodes have been processed
		}
	}
	MM_PATCH_LOOP {}
}

// AerialPerspectiveMaterial
@Kopernicus:HAS[@Body:HAS[@Template[Moho]:HAS[~removeAllPQSMods[True]],@PQS:HAS[@Mods:HAS[@AerialPerspectiveMaterial:HAS[~SigmaDimensions[1]]]]]]:FOR[SigDim]
{
	@Body:HAS[@Template[Moho],@PQS:HAS[@Mods:HAS[@AerialPerspectiveMaterial:HAS[~SigmaDimensions[1]]]]]
	{
		@PQS:HAS[@Mods:HAS[@AerialPerspectiveMaterial:HAS[~SigmaDimensions[1]]]]
		{
			// process first node
			@Mods
			{
				@AerialPerspectiveMaterial
				{
					%SigmaDimensions = 1
				}
			}
			// Set the name
			@Mods:HAS[!AerialPerspectiveMaterial:HAS[#SigmaDimensions[1],#name[_Material_AerialPerspective]]]
			{
				@AerialPerspectiveMaterial
				{
					&name = _Material_AerialPerspective
				}
			}
			// move processed node to the end
			@Mods
			{
				#AerialPerspectiveMaterial {}
				!AerialPerspectiveMaterial {}
			}
			// repeat untill all nodes have been processed
		}
	}
	MM_PATCH_LOOP {}
}

// VertexHeightMap
@Kopernicus:HAS[@Body:HAS[@Template[Moho]:HAS[~removeAllPQSMods[True]],@PQS:HAS[@Mods:HAS[@VertexHeightMap:HAS[~SigmaDimensions[1]]]]]]:FOR[SigDim]
{
	@Body:HAS[@Template[Moho],@PQS:HAS[@Mods:HAS[@VertexHeightMap:HAS[~SigmaDimensions[1]]]]]
	{
		@PQS:HAS[@Mods:HAS[@VertexHeightMap:HAS[~SigmaDimensions[1]]]]
		{
			// process first node
			@Mods
			{
				@VertexHeightMap
				{
					%SigmaDimensions = 1
				}
			}
			// Set the name
			@Mods:HAS[!VertexHeightMap:HAS[#SigmaDimensions[1],#name[_HeightNoise]]]
			{
				@VertexHeightMap
				{
					&name = _HeightNoise
				}
			}
			// move processed node to the end
			@Mods
			{
				#VertexHeightMap {}
				!VertexHeightMap {}
			}
			// repeat untill all nodes have been processed
		}
	}
	MM_PATCH_LOOP {}
}

// VertexSimplexHeight
@Kopernicus:HAS[@Body:HAS[@Template[Moho]:HAS[~removeAllPQSMods[True]],@PQS:HAS[@Mods:HAS[@VertexSimplexHeight:HAS[~SigmaDimensions[1]]]]]]:FOR[SigDim]
{
	@Body:HAS[@Template[Moho],@PQS:HAS[@Mods:HAS[@VertexSimplexHeight:HAS[~SigmaDimensions[1]]]]]
	{
		@PQS:HAS[@Mods:HAS[@VertexSimplexHeight:HAS[~SigmaDimensions[1]]]]
		{
			// process first node
			@Mods
			{
				@VertexSimplexHeight
				{
					%SigmaDimensions = 1
				}
			}
			// Set the name
			@Mods:HAS[!VertexSimplexHeight:HAS[#SigmaDimensions[1],#name[_HeightNoise]]]
			{
				@VertexSimplexHeight
				{
					&name = _HeightNoise
				}
			}
			// move processed node to the end
			@Mods
			{
				#VertexSimplexHeight {}
				!VertexSimplexHeight {}
			}
			// repeat untill all nodes have been processed
		}
	}
	MM_PATCH_LOOP {}
}

// FlattenOcean
@Kopernicus:HAS[@Body:HAS[@Template[Moho]:HAS[~removeAllPQSMods[True]],@PQS:HAS[@Mods:HAS[@FlattenOcean:HAS[~SigmaDimensions[1]]]]]]:FOR[SigDim]
{
	@Body:HAS[@Template[Moho],@PQS:HAS[@Mods:HAS[@FlattenOcean:HAS[~SigmaDimensions[1]]]]]
	{
		@PQS:HAS[@Mods:HAS[@FlattenOcean:HAS[~SigmaDimensions[1]]]]
		{
			// process first node
			@Mods
			{
				@FlattenOcean
				{
					%SigmaDimensions = 1
				}
			}
			// Set the name
			@Mods:HAS[!FlattenOcean:HAS[#SigmaDimensions[1],#name[_HeightNoise]]]
			{
				@FlattenOcean
				{
					&name = _HeightNoise
				}
			}
			// move processed node to the end
			@Mods
			{
				#FlattenOcean {}
				!FlattenOcean {}
			}
			// repeat untill all nodes have been processed
		}
	}
	MM_PATCH_LOOP {}
}

// VertexHeightNoiseVertHeightCurve2
@Kopernicus:HAS[@Body:HAS[@Template[Moho]:HAS[~removeAllPQSMods[True]],@PQS:HAS[@Mods:HAS[@VertexHeightNoiseVertHeightCurve2:HAS[~SigmaDimensions[1]]]]]]:FOR[SigDim]
{
	@Body:HAS[@Template[Moho],@PQS:HAS[@Mods:HAS[@VertexHeightNoiseVertHeightCurve2:HAS[~SigmaDimensions[1]]]]]
	{
		@PQS:HAS[@Mods:HAS[@VertexHeightNoiseVertHeightCurve2:HAS[~SigmaDimensions[1]]]]
		{
			// process first node
			@Mods
			{
				@VertexHeightNoiseVertHeightCurve2
				{
					%SigmaDimensions = 1
				}
			}
			// Set the name
			@Mods:HAS[!VertexHeightNoiseVertHeightCurve2:HAS[#SigmaDimensions[1],#name[_HeightNoise]]]
			{
				@VertexHeightNoiseVertHeightCurve2
				{
					&name = _HeightNoise
				}
			}
			// move processed node to the end
			@Mods
			{
				#VertexHeightNoiseVertHeightCurve2 {}
				!VertexHeightNoiseVertHeightCurve2 {}
			}
			// repeat untill all nodes have been processed
		}
	}
	MM_PATCH_LOOP {}
}

// VertexSimplexHeightAbsolute
@Kopernicus:HAS[@Body:HAS[@Template[Moho]:HAS[~removeAllPQSMods[True]],@PQS:HAS[@Mods:HAS[@VertexSimplexHeightAbsolute:HAS[~SigmaDimensions[1]]]]]]:FOR[SigDim]
{
	@Body:HAS[@Template[Moho],@PQS:HAS[@Mods:HAS[@VertexSimplexHeightAbsolute:HAS[~SigmaDimensions[1]]]]]
	{
		@PQS:HAS[@Mods:HAS[@VertexSimplexHeightAbsolute:HAS[~SigmaDimensions[1]]]]
		{
			// process first node
			@Mods
			{
				@VertexSimplexHeightAbsolute
				{
					%SigmaDimensions = 1
				}
			}
			// Set the name
			@Mods:HAS[!VertexSimplexHeightAbsolute:HAS[#SigmaDimensions[1],#name[_FineDetail]]]
			{
				@VertexSimplexHeightAbsolute
				{
					&name = _FineDetail
				}
			}
			// move processed node to the end
			@Mods
			{
				#VertexSimplexHeightAbsolute {}
				!VertexSimplexHeightAbsolute {}
			}
			// repeat untill all nodes have been processed
		}
	}
	MM_PATCH_LOOP {}
}
